.login-form {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login-form.ui.form input {
    max-width: 300px;
    display: inline-block;
    margin-bottom: 15px;
}