.page-header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #F5CB5C;
    font-size: 2em;
    z-index: 100;
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    line-height: 1.5em;
    font-weight: bold;
}

.logo img {
    color: white;
    height: 1.5em;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333533;
}

nav a:hover {
    text-decoration: underline;
}

nav a:first-child {
    margin-right: 15px;
}

.matching-link {
    font-weight: bold;
    color: black;
}