.comments {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.current-user-message {
    align-self: flex-end;
}

.ui.button.cancel-button {
    margin-left: 5px;
}

.fa-heart {
    cursor: pointer;
}

.fa-heart.liked {
    color: #F5CB5C;
}