.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.spinner {
    width: 5em;
    height: 5em;
    border: 10px solid lightgrey;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 1s ease-in-out infinite;
    justify-self: center;
    align-self: center;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}