.user-item {
    min-width: 400px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.user-item:not(:last-child) {
    margin-bottom: 5px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 100px;
    border-radius: 20px;
}

.username {
    margin: 0 10px;
    font-size: 1.5em;
    font-weight: bold;
}