.not-found-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-message {
    font-size: 5rem;
    font-weight: bold;
}