.chat-header {
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    background-color: #CFDBD5;
}

.chat-name {
    padding: 5px;
    font-weight: bold;
}

.chat-name,
.user-count {
    margin-right: 10px;
}

.user-count,
.message-count,
.last-message {
    font-size: 0.75em;
    font-style: italic;
}

.last-message {
    margin-left: auto;
    margin-right: 5px;
}