html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #E8EDDF;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    max-width: 900px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 15px;
}

.editor-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide {
    min-width: 600px;
}

.editor {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.editor input,
.editor textarea {
    box-sizing: border-box;
}

.controls {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}